// best seen at 1500px or less

html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
   width: 6400px;
  height: 200px;
  max-height: 200px;
  position: absolute;
  bottom:0;
  left:0;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  bottom:0;
  left:0;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

.mac {
	position: absolute;
	top: 30px;
	left: 1200px;
	width: 33%;
	animation: wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}


.nohint {
	animation: MoveUpDown 1s linear infinite;
	position: absolute;
	top: 5%;
	left: 15%;
	width: 13%;
}
@keyframes MoveUpDown {
  0%, 100% {
    top: 5%;
  }
  50% {
    top: 8%;
  }
}
.nohint2 {
	animation: UpDown 1s linear infinite;
	position: absolute;
	top: 5%;
	left: 70%;
	width: 16%;
}
@keyframes UpDown {
  0%, 100% {
    top: 5%;
  }
  50% {
    top: 8%;
  }
}
.nohint3 {
	animation: UpDown2 1s linear , rotation 4s linear infinite;
	position: absolute;
	top: 3%;
	left: 35%;
	width: 30%;
}
@keyframes UpDown2 {
	0%{
    top: -500px;
  }
	100%{
	top:3%;
	}
}
@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

 .hint{
	 
	width: 25%;
	height: 35%;
	position:absolute;
	bottom: 15%;
	left:0;
}
.hint2 {

  max-width: 200px;
  max-height: 250px;
  position: absolute;
  bottom:4.5%;
  left:1200;
	animation: wave 8s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}

